build/
disk.img
tools/pack
tools/mkdisk
*.o
*.elf
*.d9p
*.a
*.so
*.log
*.out
*.aux
*.blg
*.idx
*.ilg
*.ind
*.toc
latex.out/
latexrun
docs/references/freedos/
docs/references/linux-subsystems/
docs/references/phil-opp/
docs/references/plan9/9front/
docs/references/serenity/
docs/references/xv6/xv6-source/xv6-riscv-src/
